docker
!docker/containers/caddy/Caddyfile.review.frontend
!docker/containers/caddy/Caddyfile.frontend.staging
!docker/containers/caddy/Caddyfile.frontend.prod
!docker/containers/php/php8.2/Caddyfile.web
!docker/containers/php/php8.2/Caddyfile.api
!docker/containers/php/services/clip_subscriber
!docker/containers/php/php8.2/repo-key
!docker/containers/logstash/mysql-connector-j-8.0.32.jar
volumes
.git
.yarn
Database
fixtures
node_modules
database-dump
.husky
.ladle
.storybook
.vscode
e2e
tests
tracking
.editorconfig
.env.ci.template
.env.local.template
.env.test
.eslintignore
.eslintrc.js
.gitignore
.gitlab-ci.yml
.lintstagedrc
.ncurc.js
.npmrc
.php-cs-fixer.php
.prettierignore
.prettierrc.js
.yarnrc.yml
ccu
codeception.yml
compose
composer.json.bkp
docker-compose.yml
docker-compose.override.yml.template
Dockerfile.app
dump-js-files
exec
node
package.json
php
php-exec
phpcbf
phpcs
phpcs-fixer
phpcs-fixer-lint
phpcs.xml
phpcs.xml.dist
phpstan
phpstan-baseline.neon
phpstan.neon
phpunit.xml.dist
playwright.config.ts
README.md
rector
rector.php
renovate.json
run
setup
staged
symfony.lock
tsconfig.json
webpack.config.js
yarn
yarn.lock
.phpstantmp
phpstan.json
